<%- include('partials/header.ejs') %>

<div class="page">
    <h1>Contact Me</h1>
    <p>Welcome to my blog. Here I share my thoughts and stories.</p>
    <a href="/about">Read more about me</a>
</div>

<%- include('partials/footer.ejs') %>