<%- include('partials/header.ejs') %>
    <!-- Blog posts -->
    <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <!-- <a href="/post-url">Read More</a> -->
    </div>
<%- include('partials/footer.ejs') %>